/*
Project - gems - one page paraallax bootstrap4
Author  - Design_mylife
support URL - mylifedesign143@gmail.com
*/
/******************
TABLE OF CONTENT

1 - Font Awesome icons
2 - Themify icons
3 - Template Basic typography etc.
4 - Prelaoder css
5 - Buttons
6 - Headers
7 - Dropdown
8 - Hero & sliders
9 - Icons boxes
10 - Call to actions cta
11 - Journal
12 - Portfolio
13 - Pricing
14 - Footer


x - Responsive css
******************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i");
@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*themify icons*/
@font-face {
  font-family: 'themify';
  src: url("../bower_components/themify-icons/fonts/themify.eot");
  src: url("../bower_components/themify-icons/fonts/themify.eot?#iefix") format("embedded-opentype"), url("../bower_components/themify-icons/fonts/themify.woff") format("woff"), url("../bower_components/themify-icons/fonts/themify.ttf") format("truetype"), url("../bower_components/themify-icons/fonts/themify.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* custom css */

.hero-links li {
  display: inline;
  list-style: none;
}

/*
Basic of template
*/
html, body {
  height: 100%; }

body {
  font-size: .9rem;
  font-weight: 400;
  color: #777;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .004em; }

button, input, optgroup, select, textarea {
  font-family: "Open Sans", sans-serif; }

button:focus {
  outline: 0 !important; }

a, .simple-hover img, button, .btn {
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

a {
  color: #37abba;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #888; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
  color: #212121;
  font-weight: 600;
  letter-spacing: 0px; }

.h1, h1 {
  font-size: 34.3px; }

.h2, h2 {
  font-size: 30.1px; }

h3, .h3 {
  font-weight: 700;
  font-size: 22px; }

.h4, h4 {
  font-size: 18px; }

.h5, h5 {
  font-size: 14px; }

.h6, h6 {
  font-size: 12px;
  font-weight: 500; }

.h1 small, h1 small {
  font-size: 21.7px; }

.h2 small, h2 small {
  font-size: 14.7px; }

.h3 small, .h4 small, h3 small, h4 small {
  font-size: 14px; }

.border-4 {
  border-top: 4px solid #eee; }

.base-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.text-small {
  font-size: 14px;
  line-height: 22px; }

.bg-faded {
  background-color: #f5f5f8; }

.bg-primary {
  background: #37abba !important;
  border-color: #37abba; }

.bg-success {
  background: #5cb85c !important;
  border-color: #5cb85c; }

.bg-warning {
  background: #f0ad4e;
  border-color: #f0ad4e; }

.bg-info {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.bg-danger {
  background-color: #c9302c;
  border-color: #c9302c; }

.bg-dark {
  border-color: #212121;
  background-color: #212121; }

.text-primary {
  color: #37abba !important; }

.text-danger {
  color: #c9302c !important; }

.text-success {
  color: #5cb85c !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-info {
  color: #5bc0de !important; }

.border-round {
  border-radius: 6px;
  -webkit-border-radius: 6px; }

.lead {
  font-weight: 300; }

strong, b {
  font-weight: 700; }

.fWidth {
  width: 100% !important; }

.oHidden {
  overflow: hidden !important; }

strong, b {
  font-weight: 700; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.bg-default {
  background-color: #f7f7f7 !important; }

.bg-gray {
  background-color: #fbfbfb; }

.bg-dark {
  background: #212121; }

.border0-hor {
  border-left: 0 !important;
  border-right: 0 !important; }

.back-to-top {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  bottom: 10px;
  border-radius: 50%;
  right: 10px;
  background: #37abba;
  color: #fff;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, 35px, 35px);
  -webkit-transform: translate3d(0, 35px, 35px);
  text-align: center; }
  .back-to-top i {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    text-align: center; }
  .back-to-top:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0); }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

/**section title**/
.section-title {
  position: relative;
  margin-bottom: 60px;
  text-align: center; }
  .section-title h4 {
    display: inline-block;
    padding: 0.1em 0.2em;
    text-transform: uppercase;
    line-height: 125%;
    color: #212121 !important;
    letter-spacing: -1px;
    font-weight: 800;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px; }
    .section-title h4:after {
      content: "";
      width: 80px;
      height: 2px;
      background-color: #eee;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -40px; }
  .section-title .lead {
    font-weight: 400;
    color: #212121; }

.sectionDark .section-title h4, .sectionDark .section-title .lead {
  color: #fff !important; }

.sectionDark .section-title h4:after {
  background-color: rgba(255, 255, 255, 0.3); }

@media (min-width: 992px) {
  .table-responsive {
    display: table; }
  .section-title h4 {
    font-size: 2.2rem; } }

.bg-parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative; }
  .bg-parallax:before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/overlay-pattern.png);
    position: absolute;
    z-index: 0; }
  .bg-parallax .container {
    position: relative;
    z-index: 1; }

.form-control {
  border-radius: 0px;
  border-color: #eee;
  min-height: 48px; }
  .form-control:focus {
    border-color: #37abba; }

.page-bread {
  padding-top: 225px;
  padding-bottom: 30px;
  height: auto !important;
  position: relative;
  overflow: hidden; }
  .page-bread h1 {
    color: #fff;
    text-transform: uppercase; }
  .page-bread ul {
    display: inline-block; }
  .page-bread p {
    color: rgba(255, 255, 255, 0.8); }
  .page-bread .post-category li + li {
    margin-left: 5px; }
  .page-bread .post-category li a {
    color: #eee;
    display: inline-block; }

.buttons a {
  margin-bottom: 5px; }
  .buttons a + a {
    margin-left: 5px; }

.list-unstyled li {
  padding: 4px 0; }

.form-control:focus {
  box-shadow: none; }

label {
  font-weight: 600; }

.badge {
  font-weight: 400; }

.person-thumb {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to top, #37abba 0%, #5baab3 100%);
  border-radius: 5px; }
  .person-thumb img {
    transition: all .3s;
    -webkit-transition: all .3s;
    border-radius: 5px; }
  .person-thumb ul {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    margin: 0px; }
    .person-thumb ul > li > a {
      color: rgba(255, 255, 255, 0.7); }
      .person-thumb ul > li > a:hover {
        color: white; }
  .person-thumb:hover img {
    opacity: 0.3; }

.person-content {
  padding-top: 15px;
  text-align: center; }
  .person-content span {
    font-size: 13px; }

/***********demo css, you can remove it during development**/
.demo-link {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, #37abba 0%, #5baab3 100%);
  border-radius: 5px; }
  .demo-link img {
    transition: all .3s;
    -webkit-transition: all .3s;
    border-radius: 5px; }
  .demo-link .btn-white-outline {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -59px;
    margin-top: 0px;
    transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 0; }
  .demo-link:hover img {
    opacity: .1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5); }
  .demo-link:hover .btn-white-outline {
    opacity: 1;
    margin-top: -21px; }

.demo-card h4 {
  padding: 15px;
  text-align: center; }

/*
Preloader style
*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999; }

#preloader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #37abba;
  border-right: 0.5em solid rgba(245, 245, 245, 0.5);
  border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
  border-left: 0.5em solid rgba(245, 245, 245, 0.5);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

#preloader-inner,
#preloader-inner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
Buttons
*/
.btn {
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  vertical-align: middle;
  border-radius: 2px;
  transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out; }
  .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn.active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .btn.btn-rounded {
    border-radius: 100px; }
    .btn.btn-rounded.btn-lg {
      padding: .75rem 2rem; }
  .btn.btn-3d {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2); }
  .btn i {
    vertical-align: middle;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: -2px; }
  .btn.btn-lg {
    font-size: 13px; }
  .btn:focus {
    outline: 0 !important; }

.btn.btn-secondary {
  background-color: #f8f8f8;
  color: #333;
  border-color: #f8f8f8; }
  .btn.btn-secondary:hover, .btn.btn-secondary:focus {
    background-color: #eee;
    border-color: #eee; }

.btn-white-outline {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff; }
  .btn-white-outline:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .btn-white-outline:focus {
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: #fff;
    background-color: transparent; }

.btn-primary:focus {
  outline: 0 !important;
  color: #fff; }

.btn-primary:hover {
  background: rgba(132, 186, 63, 0.9);
  border-color: #37abba; }

.btn-primary:focus, .btn-success:focus, .btn-info:focus, .btn-warning:focus, .btn-danger:focus, .btn-dark:focus {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn-link {
  color: #37abba;
  vertical-align: middle; }
  .btn-link:after {
    font-family: 'themify';
    content: "\e649";
    font-size: 12px;
    padding-left: 2px;
    position: relative;
    top: 1px; }
  .btn-link:hover {
    color: #999;
    text-decoration: none; }

.btn-primary {
  background: #37abba;
  border-color: #37abba; }

.btn-info {
  background: #5bc0de;
  border-color: #5bc0de; }

.btn-warning {
  background: #f0ad4e;
  border-color: #f0ad4e; }

.btn-danger {
  background: #c9302c;
  border-color: #c9302c; }

.btn-outline-primary {
  border-color: #37abba;
  color: #37abba; }
  .btn-outline-primary:focus {
    border-color: #37abba;
    color: #37abba; }
  .btn-outline-primary:hover {
    background: #37abba;
    color: #fff;
    border-color: #37abba; }

/*
Header Styles
*/
.navbar-nav .nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 0.5px;
  cursor: pointer; }
  .navbar-nav .nav-link::before, .navbar-nav .nav-link::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  .navbar-nav .nav-link::before {
    margin-right: 4px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }
  .navbar-nav .nav-link::after {
    margin-left: 4px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
    border: 0 !important;
    vertical-align: top; }
  .navbar-nav .nav-link:hover:before, .navbar-nav .nav-link:hover:after, .navbar-nav .nav-link:focus:before, .navbar-nav .nav-link:focus:after, .navbar-nav .nav-link.active:before, .navbar-nav .nav-link.active:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

.navbar.sticky {
  z-index: 999 !important; }

.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7); }
  .navbar-inverse .navbar-nav .nav-link.active {
    color: #fff; }

.navbar-nav .nav-link.bg-primary, .navbar-nav .nav-link.bg-dark {
  border-radius: 3px;
  color: #fff;
  margin-left: 15px;
  padding: 9px 13px 9px; }
  .navbar-nav .nav-link.bg-primary:hover, .navbar-nav .nav-link.bg-primary:focus, .navbar-nav .nav-link.bg-dark:hover, .navbar-nav .nav-link.bg-dark:focus {
    background: #000 !important;
    color: #fff; }

.navbar .navbar-brand > img {
  top: 4px;
  position: relative; }

.offcanvas-navbar .navbar-brand {
  width: 59px; }

.offcanvas-navbar ul {
  list-style: none;
  margin-bottom: 0;
  padding-top: 4px;
  padding-left: 20px;
  position: absolute;
  right: 15px;
  top: 0;
  margin-top: 26px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s; }
  .offcanvas-navbar ul li {
    display: inline-block; }
  .offcanvas-navbar ul .nav-social {
    display: block;
    margin-right: 10px;
    color: #fff; }
    .offcanvas-navbar ul .nav-social:hover {
      color: #37abba; }

.navbar-inverse.header-transparent {
  padding: 1.3rem 1rem;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s; }
  .navbar-inverse.header-transparent .navbar-brand > img {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s; }
  .navbar-inverse.header-transparent.bg-inverse {
    background: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .navbar-inverse.header-transparent.bg-inverse.sticky-header {
      padding: .8rem 1rem;
      background: #212121 !important;
      border-bottom: 0px; }
      .navbar-inverse.header-transparent.bg-inverse.sticky-header.offcanvas-navbar ul {
        margin-top: 16px; }

/**pushy**/
.menu-btn {
  color: #fff !important;
  cursor: pointer;
  margin-left: 15px; }
  .menu-btn:hover {
    color: #37abba !important; }

.pushy-submenu > a::after,
.pushy-submenu > button::after {
  background: url("../bower_components/pushy/img/arrow.svg") no-repeat; }

.pushy ul {
  list-style: none;
  padding: 0px; }
  .pushy ul a {
    padding: 10px 30px; }
  .pushy ul a.active {
    color: #fff; }
  .pushy ul button {
    cursor: pointer; }
  .pushy ul .pushy-submenu .pushy-link a {
    padding: 10px 30px;
    padding-left: 45px; }

/**navbar white**/
.navbar-light.bg-faded {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

/*
Dropdown menu
*/
.dropdown-menu a.dropdown-item {
  text-transform: capitalize;
  font-size: .9rem; }
  .dropdown-menu a.dropdown-item:hover, .dropdown-menu a.dropdown-item:focus {
    background: transparent;
    color: #37abba; }

/*
Hero & sliders
*/
.hero {
  height: 100%;
  position: relative;
  overflow: hidden; }
  .hero h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 800;
    letter-spacing: -2px;
    text-transform: capitalize; }
  .hero > .d-flex {
    height: 100%; }
  .hero .video-modal {
    vertical-align: middle; }

.hero-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute; }

.hero-mouse {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center; }
  .hero-mouse a {
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: block;
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.5); }
    .hero-mouse a > i {
      display: inline-block; }
    .hero-mouse a:hover {
      color: white;
      border-color: white; }

.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px; }

.testimonials p {
  color: rgba(255, 255, 255, 0.8); }

.testimonials h4 {
  color: #37abba; }

.owl-carousel .owl-stage-outer {
  cursor: -webkit-grab;
  cursor: grab; }

.tlt.hero-tlt {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0px; }

.bg-gradient {
  background-color: #37abba;
  background-image: linear-gradient(to top, #37abba 0%, #5baab3 100%); }
  .bg-gradient .pg-canvas {
    position: absolute; }

/*
Icons box
*/
.icon-box i {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #37abba;
  border-radius: 5px; }

.icon-box h4 {
  font-weight: 700;
  font-size: 16px; }

@media (min-width: 1200px) {
  .process-row {
    position: relative; }
    .process-row:before {
      content: "";
      border-top: 1px dashed #ddd;
      position: absolute;
      left: 0;
      top: 45px;
      width: 100%; } }

.process-icon {
  width: 90px;
  height: 90px;
  background: #fff;
  border: 1px solid #eee;
  text-align: center;
  line-height: 90px;
  border-radius: 50%;
  margin: 0 auto; }
  .process-icon > i {
    font-size: 30px;
    display: block;
    line-height: 90px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s; }
  .process-icon:hover i {
    color: #37abba;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg); }

.contact-info {
  color: rgba(255, 255, 255, 0.8); }
  .contact-info i {
    display: block;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 30px; }
  .contact-info h5 {
    color: #fff;
    font-weight: 400; }

.extra-service-bg {
  background: rgba(33, 33, 33, 0.6);
  padding-top: 60px;
  padding-bottom: 30px;
  color: #fff; }
  .extra-service-bg i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 50%;
    text-align: center; }
  .extra-service-bg h4 {
    color: #fff; }
  .extra-service-bg h2 {
    color: #fff; }

/*
Call to actions
*/
.parallax-cta {
  position: relative; }

.fun-facts p {
  color: #fff;
  opacity: .8; }

.fun-facts i {
  font-size: 30px;
  color: #fff;
  opacity: .5; }

.fun-facts .display-4 {
  font-size: 3rem;
  font-weight: 700; }

.parallax-overlay {
  position: relative; }
  .parallax-overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }

.tlt {
  font-size: 36px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px; }

.textillate-container p {
  color: rgba(255, 255, 255, 0.8); }

.links-col {
  display: block;
  padding: 100px 0;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
  text-transform: uppercase; }
  .links-col:after {
    content: "\e628";
    font-family: 'themify';
    position: absolute;
    right: 30px;
    bottom: 30px;
    margin-bottom: -30px;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all .3s;
    color: #37abba;
    font-size: 1.5rem; }
  .links-col span {
    display: block;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  .links-col.secondary-col {
    background: #282828; }
  .links-col:hover {
    background-color: #000; }
    .links-col:hover:after {
      opacity: 1;
      margin-bottom: 0px; }

/*
Journal post
*/
.post a {
  text-transform: uppercase;
  color: #999; }
  .post a:hover {
    color: #666; }

.post-cat {
  text-align: center;
  margin-bottom: 15px; }
  .post-cat a {
    font-size: .8rem; }

.post-title {
  text-align: center; }
  .post-title a {
    text-transform: capitalize;
    color: #333; }
    .post-title a:hover {
      color: #999; }

.post-meta {
  text-align: center; }
  .post-meta span {
    display: inline-block;
    font-size: .7rem; }
    .post-meta span + span {
      margin-left: 5px; }

.post-footer a i {
  display: inline-block;
  margin-right: 8px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff; }

.post-thumb {
  background: #37abba; }
  .post-thumb img {
    transition: all .3s;
    -webkit-transition: all .3s; }
  .post-thumb:hover img {
    opacity: .7; }

.widget-title {
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0; }

.widget-item ul li {
  padding: 3px 0; }

.widget-item .media-body h5 {
  font-weight: 500; }

.post-category {
  position: relative;
  padding-left: 20px; }
  .post-category:before {
    content: "\e608";
    font-family: 'themify';
    position: absolute;
    left: 0;
    color: #aeaeae; }
  .post-category li a {
    text-transform: capitalize;
    color: #999;
    font-size: .77rem; }
    .post-category li a:hover {
      color: #37abba; }

/*
Portfolio style
*/
.filter-list {
  margin-bottom: 40px; }
  .filter-list > li {
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    text-transform: uppercase;
    padding: 3px 10px;
    font-size: .9rem;
    font-weight: 600; }
    .filter-list > li::before {
      position: absolute;
      top: 100%;
      left: 50%;
      color: transparent;
      content: '.';
      text-shadow: 0 0 transparent;
      font-size: 1.2em;
      margin-top: -15px;
      -webkit-transition: text-shadow 0.3s, color 0.3s;
      -moz-transition: text-shadow 0.3s, color 0.3s;
      transition: text-shadow 0.3s, color 0.3s;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      pointer-events: none; }
    .filter-list > li:hover, .filter-list > li:focus, .filter-list > li.is-checked {
      color: #37abba; }
      .filter-list > li:hover:before, .filter-list > li:focus:before, .filter-list > li.is-checked:before {
        color: #37abba;
        text-shadow: 10px 0 #37abba, -10px 0 #37abba; }

/**work overlay style**/
.work-card {
  position: relative;
  overflow: hidden;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s; }
  .work-card:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    content: "";
    z-index: 1;
    opacity: 1;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    opacity: 0; }
  .work-card .work-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); }
  .work-card .overlay-content {
    position: absolute;
    bottom: 20px;
    left: 30px;
    margin-bottom: 30px;
    z-index: 3;
    -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); }
    .work-card .overlay-content > div {
      padding-bottom: 10px; }
    .work-card .overlay-content h4 {
      text-transform: capitalize;
      margin-bottom: 0;
      color: #fff;
      font-weight: 600;
      font-size: .9rem; }
    .work-card .overlay-content em {
      color: #fff;
      font-size: .7rem; }
    .work-card .overlay-content a {
      display: inline-block;
      width: 32px;
      height: 32px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 32px;
      border-radius: 50%;
      text-align: center;
      background: rgba(132, 186, 63, 0.8);
      color: #fff; }
      .work-card .overlay-content a > i {
        display: block;
        line-height: 32px; }
      .work-card .overlay-content a:hover {
        background: #37abba; }
  .work-card:hover:before {
    opacity: 1; }
  .work-card:hover .work-overlay {
    opacity: 1; }
  .work-card:hover .overlay-content {
    margin-bottom: 0; }

.project-details {
  background: #fbfbfb;
  padding: 20px 15px; }
  .project-details p {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 8px; }
    .project-details p span {
      font-weight: 700;
      display: inline-block;
      margin-right: 8px; }

/*
Pricing Tables
*/
.price-card {
  padding: 30px 15px;
  background: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
  border: 1px solid #eee;
  border-radius: 0px; }
  .price-card h4 {
    color: #999;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase; }
  .price-card h1 sup, .price-card h1 sub {
    font-size: 13px; }
  .price-card h1 span {
    font-size: 13px;
    display: inline-block;
    background: #37abba;
    color: #fff;
    padding: 3px 6px;
    font-weight: 400; }
  .price-card ul li {
    padding: 4px 0; }
    .price-card ul li:last-child {
      padding-bottom: 0; }
  .price-card:hover {
    box-shadow: 0px 13px 50px rgba(0, 0, 0, 0.1); }

/*
Footer style
*/
.footer {
  background: #333; }
  .footer a {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 50%; }
    .footer a i {
      width: 36px;
      height: 36px;
      line-height: 36px;
      display: block; }
    .footer a:hover {
      background: black; }
  .footer span {
    color: rgba(255, 255, 255, 0.6); }

/********************
RESPONSIVE CSS FOR TEMPLATE
********************/
@media (max-width: 991px) {
  button.navbar-toggler {
    position: absolute;
    right: 15px;
    top: 7px;
    background: transparent;
    border: 0px;
    cursor: pointer; }
    button.navbar-toggler .navbar-toggler-icon {
      background: none;
      background-image: none; }
      button.navbar-toggler .navbar-toggler-icon:before {
        font-family: 'themify';
        content: "\e68e";
        color: #37abba;
        font-size: 32px; }
  .hero h1 {
    font-size: 2rem;
    line-height: 2.6rem; }
  .navbar-inverse.header-transparent, .navbar-inverse.header-transparent.bg-inverse.sticky-header {
    padding: 0.7rem 1rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s; }
    .navbar-inverse.header-transparent.bg-inverse, .navbar-inverse.header-transparent.bg-inverse.sticky-header.bg-inverse {
      background-color: #292b2c !important; }
  .offcanvas-navbar ul {
    margin-top: 16px !important; }
  .navbar-brand {
    margin-top: -3px; }
  .text-title {
    letter-spacing: 0px;
    font-size: 1.5rem; }
  .owl-feedback.owl-carousel .owl-item img {
    width: 120px !important;
    margin: 0 auto;
    margin-bottom: 20px; }
  .links-col {
    padding: 50px 15px; }
  .collapse.show {
    height: 250px;
    margin-top: 0;
    overflow-y: scroll; }
  .dropdown-menu {
    margin-bottom: 15px;
    border-radius: 0px;
    border: 0px; }
  .nav-link.bg-primary {
    margin-left: 0 !important; }
  .tlt.hero-tlt {
    letter-spacing: 0px;
    font-size: 2rem; } }
